doctype html
html
  head
    title About | Flora and Fern
    link(rel="stylesheet" href="/styles.css")
  body
    div.navbar
        a(href="/") 💐 Flora and Fern
        nav 
            a(href="/") Home
            a(href="/create") Add a Plant
            a(href="/about") About 
    section.about-section 
        div.content
            h1 About Flora and Fern
            p Flora and Fern believes that everyone has a greenthumb! Founded on the love of all things green, we aim to open up the world of plants to anyone and everyone. Located in the heart of the city, we offer a variety of plants that are perfect for any home or office. Come visit us and we'll be happy to help you find the perfect plant for your space. 
            p We are open Monday through Friday from 9am to 5pm. We are closed on weekends and holidays. 
            p We are located at: 
                span 1234 NW Street, Toronto, Canada
            p You can reach us at: 
                span 123-456-7890
            p Also feel free to email us at: 
                a(href="mailto:flora-fern@gmail.com") Flora and Fern
            p We look forward to seeing you soon!
        div.about-img
            img(src="/about.jpg" alt="Plant Store") 
    //footer
    footer
        p © 2024 Flora and Fern
        p Made with ❤️ by Ameesa Bajwa